<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" a href="home.css.scss">
</head>
<body>
<div id="wrapper">
	<div id="header">
		<% if flash[:error] %>
			<p><%= flash[:error] %></p>
		<% end %>
		<%= simple_form_for(:session, :url => sessions_path) do |f| %>
  			<%= f.input :email_address, :placeholder=>"Email Address", :label=>false, :class=>"inputs" %>
  			<%= f.input :password, :placeholder=>"Password", :label=>false, :class=>"inputs" %>
  			<%= f.button :submit, value:"Login", :id => "login" %>
		<% end %>
		<a id="link" href="/users/new">Not sharing your LifePrecis yet? Create it here</a>
	</div>
	<div id="main_section">
		<h1>Welcome to <span id="orange">LifePrecis:</span> Shareable life sketches</h1>
		<img src="/images/textimg.jpg">
	</div>
</div>
</body>
</html>
