<%= stylesheet_link_tag 'display_all'%>
<%= javascript_include_tag 'index'%>

<div id="wrapper">
    <h1>Coding Dojo April Bootcamp</h1>
    <form id="logout" action="/signout/<%= @user %>" method="post">
        <input class="btn btn-warning" type="submit" value="Logout" />
        <input type="hidden" name="_method" value="delete" />
    </form>
    <!-- <a id="logout" href="/">Logout</a> -->
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs"><% @users.each do |user| %>
            <li id="tab<%=user.id%>"><%= user.first_name %> <%= user.last_name %></li><% end %>
        </ul>
        <% @users.each do |user| %>
            <div class="tab-content" id="content<%= user.id %>">
                <table>
                    <tr>
                        <td class="row_label">Born:</td>
                        <td><%= user.born %></td>
                    </tr>
                    <tr>
                        <td class="row_label">Current City/State:</td>
                        <td><%= user.live_now %></td>
                    </tr>
                    <tr>
                        <td class="row_label">Other Places Lived:</td>
                        <td><%= user.live_past %></td>
                    </tr>
                    <tr>
                        <td class="row_label">Schooling/Education:</td>
                        <td><%= user.school %></td>
                    </tr>
                    <tr>
                        <td class="row_label">Career/Jobs:</td>
                        <td><%= user.career %></td>
                    </tr>
                    <tr>
                        <td class="row_label">Hobbies:</td>
                        <td><%= user.hobbies %></td>
                    </tr>
                    <tr>
                        <td class="row_label">Free-for-all</td>
                        <td><%= user.misc %></td>
                    </tr>
                </table>
                <div id="images">
                    <%= image_tag user.avatar1.url(:thumb) %>
                    <%= image_tag user.avatar2.url(:thumb) %>
                    <%= image_tag user.avatar3.url(:thumb) %>
                </div>
                <div class="clear"></div>
 <!--                <%= YAML::dump(user.notes) %> -->
 <!-- start of notes form -->
                <%= form_for [user,user.notes.new] do |form| %>
                <%= form.text_area :description %>
                <%= form.hidden_field :recipient_user_id, :value => user.id %>
                <%= form.button :submit, value:"Save Note" %>
                <% end %>
<!-- start of displaying notes for each user -->
                <% user.notes.each do |note| %>
                    <blockquote>
                        <p><%= note.description %></p>
                    </blockquote>
                <% end %>
            </div>   
        <% end %>
    </div> 
    <br />

 <!--    <%= link_to 'New User', new_user_path, :class=>"btn btn-danger" %> -->
</div>

